@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satoshi:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply text-foreground bg-background overflow-auto font-sans;
}

.title {
  @apply font-inter text-title font-black text-left;
}

.heading {
  @apply font-inter text-heading font-black text-left;
}

.content {
  @apply font-satoshi text-content font-bold text-left;
}

.content2 {
  @apply font-satoshi text-content2 font-medium text-left;
}

.content3 {
  @apply font-satoshi text-content3 text-left;
}

.button {
  @apply font-satoshi text-button font-medium text-left;
}

.coffee::before,
.gym::before,
.compass::before {
  width: 30px;
  height: 30px;
}

/* Uncomment for debugging */
/* * {
  border: 1px solid red;
} */
